@import "variables";

*{
    padding: 0;
    margin: 0;
}
/*INICIO*/
.contenedortotalpri{
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgb(226, 216, 165) 0%, rgb(255, 255, 255) 100%);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-position: center;
        background-size: cover;
        }

.menupri{
    background-color:$colormenu;
    img{
    border-radius: 50%;
    }
    }

.titulopri{
    background-color:$colortitulo;
    color: aliceblue;
    text-align: center;
}

    .imgpri{
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 60px;
        margin-right: 80px;
        margin-left: 80px;
        img{
            height: 400px;
            width: 600px;
            border-radius: 5%;
        }
    }

.textopri{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 22px;
    font-weight: bold;
    border: solid 6px $colortitulo;
    text-align: justify;
    margin: 5px 20px 10px 20px;
    margin-bottom: 40px;
    border-radius: 2%;
}

.footerpri{
    background-color: $colormenu;
}
/*NOVEDADES*/
.contenedortotalnov{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(226, 216, 165) 47%, rgba(255,255,255,1) 85%);
}

.contenedornov{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0,5fr 1fr 1fr 1fr;
    grid-template-areas:
    "menunov menunov"
    "titulonov titulonov"
    "prinov textonov"
    "footernov footernov" ;

.menunov{
    grid-area: menunov;
}
.titulonov{
    grid-area: titulonov;
}
.prinov{
    grid-area: prinov;
}
.textonov{
    grid-area: textonov;
}
.footernov{
    grid-area: footernov;
}
}

.menunov{
    background-color:$colormenu;
    
    img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    a{
        text-decoration: none;
        color: $colortitulo;
        font-weight: bolder;
    }
}

.titulonov{
    background-color:$colortitulo;
    color: aliceblue;
    text-align: center;
}

.textonov {
    margin: 10% 20% 10% 10%;
    text-align: center;
    h2 h3{
        font-weight: bold;
        font-size: 50px;
    }
    p{
        font-size: 22px;
        padding-top: 4%;
    }
}

.prinov{
    margin: 70px 20px 200px 70px;
    img{
        width: 80%;
        height: 100%;
        border-radius: 20px;
    }
}

.footernov{
    background-color:$colormenu ;
    a{
        text-decoration: none;
        color:$colortitulo ;
        font-weight: bolder;
    }
}

/* CONTENIDO TABLET NOV*/
@media screen and (max-width: 768px){
    .contenedornov{
        grid-template-columns: 1fr;
        grid-template-rows: repeat (5,1fr);
        grid-template-areas:
        "menunov"
        "titulonov"
        "prinov"
        "textonov"
        "footernov";
    }
.menunov{
    grid-area: menunov;
}
.titulonov{
    grid-area: titulonov;
}
.prinov{
    grid-area: prinov;
}
.textonov{
    grid-area: textonov;
}
.footernov{
    grid-area: footernov;
}

}

/*contenido celular*/

@media screen and (max-width: 500px){
    .contenedornov{
        grid-template-columns: 1fr;
        grid-template-rows: repeat (5,1fr);
        grid-template-areas:
        "menunov"
        "titulonov"
        "prinov"
        "textonov"
        "footernov";
    }
.menunov{
    grid-area: menunov;
}
.titulonov{
    grid-area: titulonov;
}
.prinov{
    grid-area: prinov;
}
.textonov{
    grid-area: textonov;
}
.footernov{
    grid-area: footernov;
}

}

/*productos*/
.contenedortotalpro{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(228, 216, 154) 0%, rgb(255, 255, 255) 100%);
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedorpro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0,5% 0,5% 1fr 0,5%;
    grid-template-areas:
    "menupro menupro"
    "titulopro titulopro"
    "secpro secpro"
    "footerpro footerpro" ;
}
.menupro{
    grid-area: menupro;
}
.titulopro{
    grid-area: titulopro;
}
.secpro{
    grid-area: secpro;
}
.footerpro{
    grid-area: footerpro;
}

.menupro{
    background-color:$colormenu;
    img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    a{
        text-decoration: none;
        color:$colortitulo ;
        font-weight: bolder;
    }
}

.titulopro{
    background-color:$colortitulo;
    color: aliceblue;
    text-align: center;
}

.secpro{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .gallery1{
        padding-top: 2%;
        padding-bottom: 2%;
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 250px 250px 250px;
        grid-template-areas:
        "img5 img9 img2"
        "img4 img8 img6"
        "img4 img3 img6";
    }
    
    .gallery1 .img-a{
    grid-area: img5;
    }
    .gallery1 .img-b{
    grid-area: img2;
    }
    .gallery1 .img-c{
    grid-area: img3;
    }
    .gallery1 .img-d{
    grid-area: img4;
    }
    .gallery1 .img-e{
    grid-area: img6;
    }
    .gallery1 .img-f{
    grid-area: img8;
    }
    .gallery1 .img-g{
        grid-area: img9;
        }
        img{
            object-fit: cover;
            width: 238px;
            height: 98%;
            border-radius: 20px;
        }
}

.footerpro{
    background-color:$colormenu;
    a{
        text-decoration: none;
        color: $colortitulo;
        font-weight: bolder;
    }
    }

    /* CONTENIDO TABLET PROD*/
@media screen and (max-width: 768px){
    .secpro .gallery1{
        grid-template-columns:1fr 1fr;
        grid-template-rows:repeat(5, 1fr) ;
        grid-template-areas:
        "img2 img2"
        "img1 img3"
        "img4 img4"
        "img5 img7"
        "img6 img6"
    }
        .secpro .gallery1 .img-b{
        grid-area: img2;
        }
        .secpro .gallery1 .img-a{
        grid-area: img1;
        }
        .secpro .gallery1 .img-c{
        grid-area: img3;
        }
        .secpro .gallery1 .img-d{
        grid-area: img4;
        }
        .secpro .gallery1 .img-e{
        grid-area: img5;
        }
        .secpro .gallery1 .img-f{
        grid-area: img6;
        }
        .secpro .gallery1 .img-g{
        grid-area: img7;
        }
        .secpro img{
            object-fit: cover;
            width:85%;
            height: 85%;
            border-radius: 60px;
        }
        }

/*TAMAÑO CELULAR*/
@media screen and (max-width:500px) {
    .secpro .gallery1{
        grid-template-columns:1fr;
        grid-template-rows:repeat(7, 1fr) ;
        grid-template-areas:
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7";
    
}
.secpro .gallery1 .img-a{
    grid-area: img1;
    }
    .secpro .gallery1 .img-b{
    grid-area: img2;
    }
    .secpro .gallery1 .img-c{
    grid-area: img3;
    }
    .secpro .gallery1 .img-d{
    grid-area: img4;
    }
    .secpro .gallery1 .img-e{
    grid-area: img5;
    }
    .secpro .gallery1 .img-f{
    grid-area: img6;
    }
    .secpro .gallery1 .img-g{
        grid-area: img7;
    }

}

/*CONTACTOS*/
.contenedortotalcon{
    background: rgb(113,121,9);
    background: linear-gradient(90deg, rgb(255, 255, 255) 6%, rgb(255, 248, 211) 25%);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .menucon{
        background-color:$colormenu;
        img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
        a{
            text-decoration: none;
            color:$colortitulo;
            font-weight: bolder;
        }
    }

.titulocon{
    background-color:$colortitulo ;
    color: aliceblue;
    text-align: center;
}

.contactoscon{
    padding: 70px 70px 80px 10px;
}
.imgtrans img {
    height: 400px;
    transform: translate(650px,px);
    
}

.footercon{
    background-color: $colormenu;
    a{
        text-decoration: none;
        color:$colortitulo;
        font-weight: bolder;
    }
}

/*PREGUNTAS FRECUENTES*/

.contenedortotalpre{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(228, 216, 154) 0%, rgb(255, 255, 255) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menupre{
    background-color:$colormenu;
    img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    a{
        text-decoration: none;
        color:$colortitulo ;
        font-weight: bolder;
    }
}

.titulopre{
    background-color:$colortitulo;
    color: aliceblue;
    text-align: center;
}

.mipropiopre{
    margin: 100px 10px 100px 10px;
}

.footerpre{
    background-color:$colormenu;
    a{
        text-decoration: none;
        color: $colortitulo;
        font-weight: bolder;
    }
}

/*MIXINS*/
@mixin none-color-font{
    text-decoration: none;
    color:$colortitulo;
    font-weight: bolder;
}
.menupri a{
    @include none-color-font;
}
.footerpri a{
    @include none-color-font;
}

@mixin tamano($height, $width){
    height: $height;
    width: $width;
}
.menupri img{
    @include tamano(70px, 70px)
}

